/*   
      PALETTES DE COULEURS UTILISEES

      COULEUR PRIMAIRE: Violet #9356DC
      COULEUR SECONDAIRE: Rose #FF79DA
      COULEUR TERTIAIRE: Vert  #99E2D0

*/



body {
      margin: 0;
      font-family: 'roboto', sans-serif;
       
}

 body h1, body h2{
      font-size: 1.5em;
      font-weight: 700;
      margin-top: 0;
 }


body a {
      text-decoration: none;
      color: black;
}

main a:visited {
      text-decoration: none;
      /* color: black; */
}

/* LOADER */

.spinner {
      position: absolute;
      stroke: black;
      stroke-dasharray: 50px;
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgb(29, 29, 29);
      z-index: 10;
      -webkit-animation: opacity 3s;
              animation: opacity 3s;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
}

@-webkit-keyframes opacity {
      70% {
            opacity: 1;
      }
      100% {
            opacity: 0;
            visibility: hidden;

      }
}

@keyframes opacity {
      70% {
            opacity: 1;
      }
      100% {
            opacity: 0;
            visibility: hidden;
      }
}

.loader {
      -webkit-animation: spin 2s linear infinite;
              animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
      0% {
            transform: rotate(0deg);
            stroke: #9356DC;
      }

      50% {
            stroke: #FF79DA;
      }

      100% {
            transform: rotate(360deg);
            stroke: #9356DC;
      }
}

@keyframes spin {
      0% {
            transform: rotate(0deg);
            stroke: #9356DC;
      }

      50% {
            stroke: #FF79DA;
      }

      100% {
            transform: rotate(360deg);
            stroke: #9356DC;
      }
}


/* Mise en page du TITRE */

.header-title  {
      box-shadow:0 0 6px rgba(0,0,0, 1);
}

#logo {
      width: 55%;
      max-width: 350px;
      display: block;
      margin: auto;
      padding: 20px 0 15px 0;    
}


/* Fin de mise en page du TITRE */

/* Début de mise en page de LOCALISATION */

.localisation {
      height: 3em;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      color: rgb(65, 65, 65);
      background-color: rgba(189, 189, 189, 0.212);
      
}

.localisation input{
      width: 50%;
      max-width: 200px;
      height: 100%;
      border-style: none;
      background-color: transparent;
      text-align: center;
}

.localisation input::-webkit-input-placeholder {
      font-size: 18px;
      font-weight: 600;
      color: rgb(65, 65, 65);
}

.localisation input::-moz-placeholder {
      font-size: 18px;
      font-weight: 600;
      color: rgb(65, 65, 65);
}

.localisation input:-ms-input-placeholder {
      font-size: 18px;
      font-weight: 600;
      color: rgb(65, 65, 65);
}

.localisation input::-ms-input-placeholder {
      font-size: 18px;
      font-weight: 600;
      color: rgb(65, 65, 65);
}

.localisation input::placeholder {
      font-size: 18px;
      font-weight: 600;
      color: rgb(65, 65, 65);
}


.localisation button {
      display: none;
}



/* Fin de mise en page de LOCALISATION */

/* Début de la mise en page de EXPLORE */


.explore {
      padding: 30px 0;
      text-align: center;
      background-color: rgb(248, 248, 248);
}


.explore h1 {
      max-width: 70%;
      margin: 10px auto;
}

.explore h2 {
      max-width: 90%;
      margin: 20px auto;
      font-size: 1.1em;
      font-weight: 300;
}

.explore__button {
      width: 230px;
      height: 50px;
      margin: 15px auto;
      border-radius: 100px;
      border-style: none;
      background: linear-gradient(165deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
      color: white;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      box-shadow:4px 4px 10px rgba(0,0,0, .2);
}

.explore__button:hover {
      background: linear-gradient(165deg, rgba(255, 121, 218, 0.9) 0%, rgba(147,86,220,0.9) 100%);
      box-shadow: 4px 4px 15px rgba(0,0,0, .5);
      transition: all 0.2s ease;
}


/* Fin de la mise en page de EXPLORE */

/* Mise en page de la section FUNCTION */

.fa {
      height: auto;
      width: 15px;
}

.function {
      margin-bottom: 60px;
}

.function h2 {
      padding:40px 0 0 5%;
}

.container__step {
      display: flex;
      flex-wrap: wrap;
      max-width: 90%;
      margin: auto;
}

.step {
      width: 85%;
      max-width: 350px;
      height: 70px;
      margin: 15px auto;
      display: flex;
      align-items: center;
      background: rgb(247, 245, 245); ;
      border-radius: 20px;
      font-size: 18px;
      font-weight: 600;
      box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}

.number {
      width: 25px;
      height: 25px;
      position: absolute;
      margin: -12px;
      
}

.number p {
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(147,86,220,1);
      margin: 0;
      height: 100%;
      width: 100%;
      border-radius: 100%;
      color: white;
      font-size: 16px;
      font-weight: 400;
}

.step-logo {
      padding-left: 30px;
}

.step-logo i {
      font-size: 18px;
      color: rgb(105, 105, 105);
}

.desc {
      padding-left: 18px;
      
}

.desc p {
      margin: 0;
}

/* Fin de la mise en page de FUNCTION */

/* Mise en page de la section RESTAURANTS */

.restaurants {
      background-color: rgb(247, 245, 245);
      padding-bottom: 60px;
}

.restaurants h2 {
      padding:40px 0 0 5%;
}


/* Mise en page des cartes de restaurant */

.container {
      width: 90%;
      margin: auto;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }


.card {
      margin : auto;
      width: auto;
      max-width: 350px;
      overflow : hidden;
      border-radius : 15px;
      background : white;
      margin-top: 20px;
      transition: all .2s;
      box-shadow:5px 5px 15px rgba(0,0,0, .3);
    }
    
.card:hover {
      box-shadow:5px 5px 25px rgba(0,0,0, .5);
      transform: translate(-5px, -5px);
    }

.card__img-cover{
      position: relative;
      height: 200px;
    }
    
.card img {
      width: 350px;
      height: 200px;
      -o-object-fit:cover;
         object-fit:cover;
    }
    

.card__description {
      padding: 1em;
      display: flex;
      justify-content: space-between;
    }
    
.card__description h3 , .card__description p {
      margin: 0;
      font-size: 18px;
    }

.card__description p {
      font-weight: 300;
}

.card__description a:hover {
      background-color: SteelBlue;
    }
    .icon {
      position:absolute;
      top: 13px;
      right: 13px;
} 

.icon p {
      color: rgb(17, 150, 132);
      background-color: rgb(153, 226, 208);
      padding:5px 15px;
      border-radius: 2px;
      font-size: 18px;
      font-weight: 500;
    }

.heart {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 50px;

}

.heart path {
      fill: white;
      fill-opacity: 0;

}

.heart path:hover {
      fill: url(#myGradient);
      stroke-width: 0;
      transform-origin: center;
      fill-opacity: 1;
      transition: all 1s cubic-bezier(0.26, 0.04, 0.17, 0.95);
}


/* Fin de mis en page des cartes de restaurants */

/* Début de mise en page du FOOTER*/


footer {
      background: rgb(65, 65, 65);
      color: white;
      padding: 30px 0 30px 30px;
}

.ohmyfood {
      fill: white;
      width: 98px; 
      height: 17px;
}

footer ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
}

footer ul li {
      padding: 5px 0;
}
footer ul a {
      text-decoration: none;
      color: white;
}
footer ul a:hover {
      color: #FF79DA;
}

.fa-utensils, .fa-hands-helping {
      padding-right: 20px;
}




/* Fin de mise en page du FOOTER*/


@media (min-width: 768px) {

      footer {
      
            text-align: center;
      
      }


}


@media (min-width: 1024px) {

      main {
            min-height: 100vh;
      }

      .card {
            margin: 10px;
      }


}