/*   
      PALETTES DE COULEURS UTILISEES

      COULEUR PRIMAIRE: Violet #9356DC
      COULEUR SECONDAIRE: Rose #FF79DA
      COULEUR TERTIAIRE: Vert  #99E2D0

*/


body {
      margin: 0;
      font-family: 'roboto', sans-serif;
      background-color: rgb(236, 236, 236);
       
}

body h1 {
      margin: 0;
}


body a {
      text-decoration: none;
      color: rgb(65, 65, 65);
}

body a:visited {
      text-decoration: none;
}




/* Mise en page du HEADER */

header {
      z-index: -1;
      background-color: white;
}


.header-title  {
      box-shadow:0 0 6px rgba(0,0,0, 1);
      position: relative;

      
}

      /* Début flèche de retour à l'accueil */

.fleche {
      position: absolute;
      display: flex;
      align-items: center;
      height: 100%;
      margin: 0;
      font-size: 22px;
}

.fleche a {
      display: block;
      margin-left: 20px;
}


      /* Fin flèche de retour à l'accueil */

#logo {
      width: 55%;
      max-width: 350px;
      display: block;
      margin: auto;
      padding: 20px 0 15px 0;    
}

.background_img {
      width: 100%;
      max-height: 250px;
}

.background_img img {
      width: 100%;
      max-height: auto;
}
      

/* Fin de mise en page du HEADER */




/* Début de la mise en page du MENU */
main {
      background-color: rgb(236, 236, 236);
      border-radius: 50px 50px 0 0;
      z-index: 1;
      transform: translateY(-50px);
}


/* mise en page du coeur et de son animation */

.heart {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;
      width: 50px;

}

.heart path {
      fill: white;
      fill-opacity: 0%;

}

.heart path:hover {
      fill: url(#myGradient);
      stroke-width: 0;
      transform-origin: center;
      fill-opacity: 100%;
      transition: all 0.6s cubic-bezier(0.26, 0.04, 0.17, 0.95);
}


.menu-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100px;
      width: 90%;
      margin: auto;
}

.menu-title h1 {
      font-family: 'Shrikhand', cursive;
      font-weight: 400;
      font-size: 26px;
}

.entree {
      width: 90%;
      margin: auto;
      padding-top: 20px;
}

.entree h2 {
      font-size: 17px;
      font-weight: 400;
}

.entree h2:after {
      display: flex;
      content: "";
      border-bottom: 3px solid rgb(153, 226, 208, 1);
      height: 0.3em;
      width: 40px;
} 

.entree:nth-child(3) {
      opacity: 0;
      -webkit-animation: fade-in 1s ease;
              animation: fade-in 1s ease;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
      -webkit-animation-delay: 0.5s;
              animation-delay: 0.5s;
}

.entree:nth-child(4) {
      opacity: 0;
      -webkit-animation: fade-in 1s ease;
              animation: fade-in 1s ease;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;
      -webkit-animation-delay: 1s;
              animation-delay: 1s;
}




@-webkit-keyframes fade-in {
      0% {
            transform: translateY(50px);
            opacity: 0;
      }
      100% {
            transform: translateY(0);
            opacity: 100%;
      }
 
}




@keyframes fade-in {
      0% {
            transform: translateY(50px);
            opacity: 0;
      }
      100% {
            transform: translateY(0);
            opacity: 100%;
      }
 
}

.menu {
      margin: 20px 0;
      opacity: 0;
      -webkit-animation: fade-in 1s ease;
              animation: fade-in 1s ease;
      -webkit-animation-fill-mode: forwards;
              animation-fill-mode: forwards;

}

.menu:nth-child(3) {
      -webkit-animation-delay: 0.1s;
              animation-delay: 0.1s;
}

.menu:nth-child(4) {
      -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s;
}

.menu:nth-child(5) {
      -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s;
}


.desc {
      position: relative;
      max-width: 350px;
      margin: auto;
      background-color: white;
      border-radius: 15px;
      box-shadow:4px 4px 10px rgba(0,0,0, .2);
      padding: 10px 25px 10px 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
}


.check {
      content: "";
      position: absolute;
      height: 69px;
      width: 65px;
      background-color: #99E2D0;;
      border-radius: 0 15px 15px 0;
      top: 0;
      right: -66px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      
}


@-webkit-keyframes spin {
      from {
            transform: rotate(0deg);
      }
      to {
            transform: rotate(360deg);
      }
}


@keyframes spin {
      from {
            transform: rotate(0deg);
      }
      to {
            transform: rotate(360deg);
      }
}

/* .desc::after {
      position: absolute;
      height: 69px;
      width: 65px;
      background-color: #99E2D0;
      border-radius: 0 15px 15px 0;
      top: 0;
      right: -66px;
} */

/* .desc:hover::after {
      right: 0;
      transition: 0.2s ease;
} */


.desc p {
      margin: 2px 0;

}

.desc > p {
      font-size: 18px;
      font-weight: 500;
}

.desc__menu {
      display: flex;
      justify-content: space-between;
      margin: 0;
}

.compo {
      font-weight: 300;
}

.prix {
      font-weight: 600;
      color: rgb(65, 65, 65);
}

.desc:hover .check{
      right: 0;
      transition: all 0.4s;

}

.desc:hover .prix {
      padding-right: 50px;
}


.desc:hover .nom, .compo {
      margin-right: 50px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
}

.desc:hover .fa-check-circle {
      -webkit-animation: spin 0.6s ease;
              animation: spin 0.6s ease;
}


/* Fin de la mise en page du MENU */


/* Début mise en page du BOUTON */

.commande {
      padding: 40px 0 90px 0;
      text-align: center;
}

.pink-button {
      width: 200px;
      height: 50px;
      border-radius: 100px;
      padding: 0;
      border-style: none;
      background: linear-gradient(165deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
      color: white;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      box-shadow:4px 4px 10px rgba(0,0,0, .2);

}

.pink-button:hover {
      background: linear-gradient(165deg, rgba(255, 121, 218, 0.9) 0%, rgba(147,86,220,0.9) 100%);
      box-shadow: 4px 4px 15px rgba(0,0,0, .5);
      transition: all 0.2s ease;
}

/* Fin de mise en page du BOUTON */




/* Début de mise en page du FOOTER*/


footer {
      background: rgb(65, 65, 65);
      color: white;
      padding: 30px 0 30px 30px;
}

/* #logo_footer {
      Manque les modifications du svg
}  */

.ohmyfood {
      fill: white;
      width: 98px; 
      height: 17px;
}

footer ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
}

footer ul li {
      padding: 5px 0;
}
footer ul a {
      text-decoration: none;
      color: white;
}
footer ul a:hover {
      color: #FF79DA;
}

.fa {
      height: auto;
      width: 15px;
}
.fa-utensils, .fa-hands-helping {
      padding-right: 20px;
}

/* Fin de mise en page du FOOTER*/



@media (min-width: 768px) {

      .background_img {
            max-height: 500px;
      }

      .menu-title h1 {
            font-family: 'Shrikhand', cursive;
            font-weight: 400;
            font-size: 40px;
      }

      footer {
      
            text-align: center;
      
      }


}


@media (min-width: 1024px) {

      .background_img {
            display: none;
      }

      main {
            border-radius: 0;
            transform: translateY(50px);
      }

      .menu-title {
            display: flex;
            justify-content: center;
      }

      .entree h2 {
            text-align: center;
      }

      .entree h2:after {
            margin: auto;
      }
}